<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckBackups.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CheckBackups.Properties.Settings>
            <setting name="MailServer" serializeAs="String">
                <value>server.domain.net</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>checkbakups@domain.net</value>
            </setting>
            <setting name="RecipientsList" serializeAs="String">
                <value>admin@domain.net</value>
            </setting>
            <setting name="ReportFile" serializeAs="String">
                <value>reports.xml</value>
            </setting>
        </CheckBackups.Properties.Settings>
    </userSettings>
</configuration>